
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

a{
    text-decoration: none
}

header{
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
}


.log{
    font-size: 20px;
}

.hamburger{
    display: none;   
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    list-style: none;
    text-decoration: none;
}

.nav-bar ul li a:hover{
    color: red;
}



.logo{
    width: 60px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}


.logo-name {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.hero {
    background-image: url('assets/pozadi.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 255px 20px;
    color: white;
}

.logow{
    width: 400px;
    margin-top: -50px;
}



.moje-prace {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

.moje-prace h2 {
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.moje-prace h3{
    font-size: 22px;
}

.moje-prace p{
    margin-right: -300px;
}

.prace-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 0 auto 30px auto;
}
.img1{
    width: 450px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);    
    object-fit: cover;
    margin-right: 100px;
    margin-left: -300px;
    margin-top: 140px;
}

.img2{
    width: 650px;
    border-radius: 25px;
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);    
    object-fit: cover;
    margin-right: 100px;
    margin-left: 450px;
    margin-top: 100px;
}

.nadpis{
    margin-left: -485px;
    margin-top: 150px;
}

.nadpis2{
    margin-left: -505px;
}

.text1{
    text-align: justify;
}

.text2{
    text-align: justify;
    margin-top: 10px;
}

.text3{
    text-align: justify;
    margin-top: 10px;
}

.text{
    margin-left: -300px;
    text-align: justify;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    margin-top: 0px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section p {
    margin-top: 20px;
}

.footer-logo {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: -80px;
}

.footer-section h4 {
    color: #4285f4;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons{
    margin-top: 40px;
}

.social-icons a {
    margin: 10px;
}

.footer-bottom {
    border-top: 2px solid #808080;
    border-radius: 2px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}

.acko{
    text-decoration: none;
    color: white;
}

.kontakt{
    text-align: justify;
    margin-left: -400px;
    margin-top: 30px;
}

.kontakt p {
    margin-top: 13px;
}


.zde{
    color: white;
    font-weight: 700;
    text-decoration: underline;
}



@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }

    .kontakt{
        text-align: justify;
        margin-left: -160px;
        margin-top: 30px;
    }
    
    .kontakt p {
        margin-top: 13px;
    }

    .footer-logo{
        margin-left: 20px;
    }
}



@media only screen and (max-width: 1400px) {
    .moje-prace h3{
        font-size: 20px;
        margin-right: -310px;
    }
    .text1{
        text-align: justify;
        max-width: 500px;
        font-size: 16px;
        margin-left: -30px;
    }
    
    .text2{
        text-align: justify;
        max-width: 500px; 
        font-size: 16px;
        margin-left: -30px;
    }
    
    .text3{
        text-align: justify;
        margin-left: -30px;
        font-size: 16px;
    }
    
    .text{
        margin-left: -300px;
        text-align: justify;
    }

    .img1{
        width: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);    
        object-fit: cover;
        margin-right: 100px;
        margin-left: -40px;
        margin-top: 140px;
    }
}

@media only screen and (max-width: 900px) {
    header{
        width: 100%;
        height: 80px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px;
        margin-right: 30px;
    }

    .logo{
        width: 60px;
        margin-left: 26px;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #f5f5f5;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active{
        height: 300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .kontakt{
        text-align: justify;
        margin-left: -160px;
        margin-top: 30px;
    }
    
    .kontakt p {
        margin-top: 13px;
    }

    .footer-logo{
        margin-left: 20px;
    }

    .moje-prace h3{
        font-size: 18px;
        margin-left: -50px;
        margin-right: 20px;
    }
    .text1{
        text-align: justify;
        max-width: 350px;
        font-size: 14px;
        margin-left: -50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 350px; 
        font-size: 14px;
        margin-left: -50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: -50px;
        font-size: 14px;
    }
    
    .text{
        margin-left: -300px;
        text-align: justify;
    }

    .img1{
        width: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);    
        object-fit: cover;
        margin-right: 100px;
        margin-left: 20px;
        margin-top: 140px;
    }
}

@media only screen and (max-width: 767px) {
    .moje-prace h3{
        font-size: 18px;
        margin-left: -170px;
        margin-right: 50px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 620px;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 620px; 
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }
    
    .text{
        margin-left: -300px;
        text-align: justify;
    }

    .img1{
        width: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5);    
        object-fit: cover;
        margin-right: 100px;
        margin-left: 20px;
        margin-top: 140px;
        display: none;
    }


    .kontakt{
        text-align: justify;
        margin-left: -160px;
        margin-top: 30px;
    }
    
    .kontakt p {
        margin-top: 13px;
    }

    .footer-logo{
        margin-left: -40px;
        margin-top: -8px;
        width: 350px;
    }
}


@media only screen and (max-width: 720px) {
    .moje-prace h3{
        font-size: 18px;
        margin-left: -100px;
        margin-right: 50px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 550px;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 550px; 
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .moje-prace h3{
        font-size: 18px;
        margin-left: 0px;
        margin-right: 50px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 450px;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 450px; 
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 540px) {
    .moje-prace h3{
        font-size: 18px;
        margin-left: 50px;
        margin-right: 20px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 350px;
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 350px; 
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    .moje-prace h3{
        font-size: 16px;
        margin-left: 40px;
        margin-right: -30px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 300px;
        font-size: 14px;
        margin-left: 40px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 300px; 
        font-size: 14px;
        margin-left: 40px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 40px;
        margin-right: 50px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 391px) {
    .moje-prace h3{
        font-size: 16px;
        margin-left: 25px;
        margin-right: -30px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 300px;
        font-size: 14px;
        margin-left: 25px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 300px; 
        font-size: 14px;
        margin-left: 25px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 25px;
        margin-right: 50px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 361px) {
    .moje-prace h3{
        font-size: 16px;
        margin-left: 15px;
        margin-right: -30px;
        margin-top: 80px;
    }
    .text1{
        text-align: justify;
        max-width: 300px;
        font-size: 14px;
        margin-left: 15px;
        margin-right: 50px;
    }
    
    .text2{
        text-align: justify;
        max-width: 300px; 
        font-size: 14px;
        margin-left: 15px;
        margin-right: 50px;
    }
    
    .text3{
        text-align: justify;
        margin-left: 15px;
        margin-right: 50px;
        font-size: 14px;
    }
}